<div data-sly-test="${wcmmode.edit}" class="cq-placeholder"
     data-emptytext="Foundation Row">
</div>
<div class="row" data-sly-list="${resource.listChildren}">
    <sly data-sly-test.colProps="${item.getValueMap}"/>
    <sly data-sly-test.colOffsetX="${colProps.offset}">
        <sly data-sly-test.colOffset="${colProps.mediaSize}-offset-${colProps.offset}"/>
    </sly>
    <div class="columns ${colProps.mediaSize}-${colProps.width} ${colOffset}">
        <sly data-sly-test.parPath="${item.path}/par"/>
        <div data-sly-resource="${@path=parPath, resourceType='wcm/foundation/components/parsys'}">
        </div>

    </div>
</div>
